@import '../../styles/variables';

@font-face {
	font-family: 'AllerDisplay';
	font-style: normal;
	font-weight: 500;
  src: url('../../assets/fonts/AllerDisplay.ttf');
}

.application {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
  font-family: 'AllerDisplay';

  .application__view {
    width: 100%;
    height: 100%;
    max-width: $desktop-width;
    max-height: $desktop-height;
    overflow: hidden;
    border-radius: $border-radius;
    background-color: $white;
  }
}
