@import '../../styles/variables';
@import '../../styles/mixins';

.game-over {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba($deep-blue, 0.5);
  z-index: $z-index-modal;

  .game-over__text {
    padding-bottom: 0.3em;
    color: white;
    text-transform: uppercase;
    font-size: $font-size--big;
  }

  .game-over__action-button {
    $button-dimension-base: 2.5em;

    height: 2 * $button-dimension-base;
    padding: $button-dimension-base 2 * $button-dimension-base;
    border: 2px dashed $gold;
    border-radius: $button-dimension-base;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }

    .game-over__action-button-text {
      color: $gold;
      font-size: $font-size;
      text-transform: uppercase;
    }
  }
}
