@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin mirror() {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

@mixin hangman-body-part($url, $size) {
  position: absolute;
  width: 200px;
  height: $size;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url($url);
}