$white: #f5f5f5;
$gold: #ffb82a;
$blue: #4d69fa;
$deep-blue: #3b4163;
$gray: #e6e6e7;
$dark-gray: #53555d;

$background-color: $deep-blue;

$font-size--big: 4em;
$font-size: 1.5em;

$border-radius: 0.5em;

$desktop-width: 1000px;
$desktop-height: 600px;

$padding: 3em;

$z-index-base: 0;
$z-index-additionals: 1;
$z-index-front: 2;
$z-index-hangman-base: 3;
$z-index-hangman-body: 4;
$z-index-hangman-clothes: 5;
$z-index-hangman-clothes-adds: 6;
$z-index-modal: 10;
$z-index-modal-additionals: 11;

$bar-height: 37.5px;
$head-height: 106px;
$neck-height: 33.5px;
$corpus-height: 82.5px;
$arm-height: 61px;
$arm-transition: 37px;
$hand-height: 15px;
$hand-transition: 66px;
$leg-height: 89px;
$leg-transition: 22px;
$foot-height: 18px;
$foot-transition: 42px;
$hangman-width: 200px;
$hangman-margin: 10px;
