@import '../../styles/variables';
@import '../../styles/mixins';

.hangman {
  position: absolute;
  width: $hangman-width;

  .hangman__head {
    @include hangman-body-part('../../assets/images/head.png', $head-height);
    top: $bar-height - $hangman-margin;
    z-index: $z-index-hangman-body;
  }

  .hangman__neck {
    @include hangman-body-part('../../assets/images/neck.png', $neck-height);
    top: $bar-height + $head-height - (2 * $hangman-margin);
    z-index: $z-index-hangman-base;      
  }

  .hangman__corpus {
    @include hangman-body-part('../../assets/images/corpus.png', $corpus-height);
    top: $bar-height + $head-height + $neck-height - (3 * $hangman-margin);
    z-index: $z-index-hangman-clothes;   
  }

  .hangman__left-arm {
    @include hangman-body-part('../../assets/images/left-arm.png', $arm-height);
    top: $bar-height + $head-height + $neck-height - (3 * $hangman-margin);
    left: -$arm-transition;      
    z-index: $z-index-hangman-clothes;
  }

  .hangman__right-arm {
    @include hangman-body-part('../../assets/images/right-arm.png', $arm-height);
    top: $bar-height + $head-height + $neck-height - (3 * $hangman-margin);
    left: $arm-transition;      
    z-index: $z-index-hangman-clothes;
  }

  .hangman__left-hand {
    @include hangman-body-part('../../assets/images/left-hand.png', $hand-height);      
    top: $bar-height + $head-height + $neck-height + $arm-height - (4 * $hangman-margin);
    left: -$hand-transition;      
    z-index: $z-index-hangman-body;
  }

  .hangman__right-hand {
    @include hangman-body-part('../../assets/images/left-hand.png', $hand-height);      
    top: $bar-height + $head-height + $neck-height + $arm-height - (4 * $hangman-margin);
    left: $hand-transition;      
    z-index: $z-index-hangman-body;
  }

  .hangman__left-leg {
    @include hangman-body-part('../../assets/images/left-leg.png', $leg-height);
    top: $bar-height + $head-height + $neck-height + $corpus-height - (4 * $hangman-margin);
    left: -$leg-transition;      
    z-index: $z-index-hangman-clothes;
  }

  .hangman__right-leg {
    @include hangman-body-part('../../assets/images/left-leg.png', $leg-height);
    @include mirror();
    top: $bar-height + $head-height + $neck-height + $corpus-height - (4 * $hangman-margin);
    left: $leg-transition;      
    z-index: $z-index-hangman-clothes;
  }

  .hangman__left-foot {
    @include hangman-body-part('../../assets/images/left-foot.png', $foot-height);
    top: $bar-height + $head-height + $neck-height + $corpus-height + $leg-height - (5 * $hangman-margin);
    left: -$foot-transition;      
    z-index: $z-index-hangman-body;
  }

  .hangman__right-foot {
    @include hangman-body-part('../../assets/images/left-foot.png', $foot-height);
    @include mirror();
    top: $bar-height + $head-height + $neck-height + $corpus-height + $leg-height - (5 * $hangman-margin);
    left: $foot-transition;      
    z-index: $z-index-hangman-body;
  }
}
