@import '../../styles/variables';
@import '../../styles/mixins';

.home {
  position: relative;
  height: 100%;
  padding: $padding;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .home__missed-letters-container {
    width: 50%;
    margin-left: 50%;

    .missed-letters {
      display: flex;
      flex-direction: column;
      text-transform: uppercase;

      .missed-letters__header {
        color: $dark-gray;
        font-size: $font-size;        
      }

      .missed-letters__content {
        display: flex;
        flex-wrap: wrap;

        .missed-letters__letter {
          $missed-letters-dimension-base: 0.2em;

          color: $blue;
          margin-top: -$missed-letters-dimension-base;
          letter-spacing: $missed-letters-dimension-base;
          font-size: $font-size--big;
        }
      }
    }
  }

  .home__guessed-letters-container {
    position: absolute;
    bottom: $padding;
    left: $padding;
    right: $padding;
      
    .guessed-letters__letters {
      position: absolute;
      bottom: 0em;
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
    }
      
    .guessed-letters__letter-container  {
      width: 74px;
      height: 90px;
      border-radius: 0.5em;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      background-color: rgba(gray, 0.2);

      &.active {
        background-color: rgba($dark-gray, 0.9);
      }

      .guessed-letters__letter {
        color: white;
        font-size: $font-size--big;
        text-transform: uppercase;
      }
    }
  }

  .home__styling-triangle {
    $triangle-dimension: 300px;
    
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: $triangle-dimension solid $blue;
    border-left: $triangle-dimension solid transparent;
  }

  .home__hangmar-bar {
    position: absolute;
    top: $padding;
    left: -39px;
    @include hangman-body-part('../../assets/images/bar.png', $bar-height)
  }

  hangman {
    position: absolute;
    width: $hangman-width;
  }
}
